@media only screen and (max-width: 767px) {
    .navbar-default {
    display: none;
  }
  .purchase-now .col-md-3 {
    text-align: center;
    padding-top: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  
  .header-belarus {
    display: none;
  }
  .header-text .header-btns {
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  
}

@media only screen and (min-width: 1200px) {
}
